.container {
  border-right: 1px solid #ddd;
  flex: 0 0 auto;
  width: 350px;
}

li {
  padding: 10px;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;

  &:first-child {
    border-top: 1px solid black;
  }
}

.highlight {
  background-color: red;
}

ul {
  padding: 10px;
  list-style: none,
}
