.container {
  flex: 1 0 auto;
  text-align: left;
  margin: 0px 20px 0px 20px;
}

.formRowHorizontal {
    width: 100%;
    margin:10px 0px 10px 0px;
}

.closeButton {
    float: right;
    margin-top: -5px;
    color: #ccc;
}

.closeButton:hover {
    float: right;
    margin-top: -5px;
    color: #888;
    cursor: pointer;
}
