.container {
  flex: 1 0 auto;
  padding: 10px;
  text-align: left;
  margin-top: 14px;
}

label {
  width: 25%;
  text-align: right;
  padding-right: 10px;
  clear: left;
  float: left;
}

input {
  width: 50%;
  float: left;
}

button {
  margin-left: 10px;
  background-color: green;
}

.submitButton {
  background-color: yellow;
}
